<table class="table">
    <thead class="table-light" >
        <tr  >
            <th>Images</th>
            <th>Name</th>
            <th>Price</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="align-middle">
                <img src="{{tempProduct.imageUrl}}" height="80">
            </td>
            <td class="align-middle"> {{tempProduct.name}}</td>
            <td class="align-middle"> {{tempProduct.unitPrice | currency:'₺'}}</td>
         
        </tr>
    </tbody>
</table>
 